.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.flashes h4 {
    line-height: 2;
}

.ingredient {
    margin-left: 20px;
}

.add-button {
    margin-top: 20px;
    margin-left: 95px;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.formborder {
    border: 1px;
}

.collapsible-header {
    text-transform: capitalize;
    text-align: right;
    font-size: 120%;
}

.breakfast {
    background-image: url('../css/pictures/breakfeast.png');
    background-repeat: repeat;
    max-width: 40%;
}

.lunch {
    background-image: url('../css/pictures/lunch.png');
    background-repeat: no-repeat;
    max-width: 40%;
}

.dinner {
    background-image: url('../css/pictures/dinner.png');
    background-repeat: no-repeat;
    max-width: 40%;
}

@media only screen and (max-width: 500px) {
    nav .brand-logo {
        font-size: 1.5rem !important;
    }
}

@media only screen and (max-width: 1453px) {
    .breakfast {
    max-width: 60%;
}

.lunch {
    max-width: 60%;
}

.dinner {
    max-width: 60%;
}
}

@media only screen and (max-width: 790px) {
    .breakfast {
    max-width: 100%;
}

.lunch {
    max-width: 100%;
}

.dinner {
    max-width: 100%;
}
}