.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.flashes h4 {
    line-height: 2;
}

.ingredient {
    margin-left: 20px;
}

.add-button {
    margin-top: 20px;
    margin-left: 95px;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.formborder {
    border: 1px;
}

.breakfast {
    background-image: url('../css/pictures/breakfeast.jpg');
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
}

.lunch {
    background-image: url('../css/pictures/lunch.jpg');
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
}

.dinner {
    background-image: url('../css/pictures/dinner.jpeg');
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
}

@media only screen and (max-width: 500px) {
    nav .brand-logo {
        font-size: 1.5rem !important;
    }
}