{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <!-- Recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- Cuisine -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-cheese prefix"></i>
                    <input id="cuisine" name="cuisine" type="text" class="validate" required>
                    <label for="cuisine">Type of cuisine</label>
                </div>
            </div>
            <!-- Ingredients  <a class="btn-floating btn-small waves-effect waves-light red">+</a> -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ul prefix"><span class="ingredient">Ingredients</span></i>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col s2">
                    <a class="btn-floating btn-small waves-effect waves-light red">+</a>
                </div>
                <div class="input-field col s10">
                    <input id="ingredients" type="text" name="ingredients" class="validate">
                    <label for="ingredients">Ingredient</label>
                </div> -->
                <table style="width:100%">
                    <tr>
                        <td>
                            <a class="btn-floating btn-small waves-effect waves-light red">+</a>
                            <a class="btn-floating btn-small waves-effect waves-light red">-</a>
                        </td>
                        <td class="input-field">
                            <input id="ingredients" type="text" name="ingredients" class="validate">
                            <label for="ingredients">Ingredient</label>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Required tools -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-tools prefix"></i>
                    <input id="required_tools" name="required_tools" type="text" class="validate" required>
                    <label for="required_tools">Tools required</label>
                </div>
            </div>
            <!-- Preparation steps -->
        </form>
    </div>

{% endblock %}
