{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- Meal Type -->
            <!-- <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
                    <select id="meal_name" name="meal_name" class="validate" required>
                        <option value="" disabled selected>Meal Type</option>
                        {% for meal in meal_type %}
                            <option value="{{ meal.meal_name }}">{{ meal.meal_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="meal_name" >Materialize Select</label>
                </div>
            </div> -->
            <!-- Recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- Cuisine -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-cheese prefix"></i>
                    <input id="cuisine" name="cuisine" type="text" class="validate" required>
                    <label for="cuisine">Type of cuisine</label>
                </div>
            </div>
            <!-- Ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ul prefix"><span class="ingredient">Ingredients</span></i>
                </div>
            </div>
            <div class="container1">
                <a class="add_form_field btn-floating btn-small waves-effect waves-light red">+</a>
                <div class="input-field">
                    <input type="text" name="ingredients">
                    <label for="ingredients">Ingredient</label>
                </div>
            </div>
            <!-- <div class="col s2">
                    <a class="btn-floating btn-small waves-effect waves-light red">+</a>
                </div>
                <div class="input-field col s10">
                    <input id="ingredients" type="text" name="ingredients" class="validate">
                    <label for="ingredients">Ingredient</label>
                </div> -->

            <!-- Required tools -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-tools prefix"></i>
                    <input id="required_tools" name="required_tools" type="text" class="validate" required>
                    <label for="required_tools">Tools required</label>
                </div>
            </div>
            <!-- Preparation steps -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large text-shadow orange">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
