{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align yellow-text text-darken-4">
                    {{ username }}'s Profile
                </h3>
                <h5>Recipes created:</h5>
                <h5>Recipes added:</h5>
                <h5>Favorite type of meal:</h5>
                <h5>Favorite type of cuisine:</h5>
            </div>
        </div>
    </div>

{% endblock %}